@{
    ViewBag.Title = "ChangeRate";
}

@Html.Partial("menu1")

<div class="grid_3 grid_5 wow fadeInLeft animated" data-wow-delay=".5s">
    <br /><br />
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="@Url.Action("Dashboard","Home")" id="home-tab" role="tab">Booking Details</a>
            </li>
            <li role="presentation" class="active">
                <a href="@Url.Action("ChangeRate","Home")" role="tab" id="profile-tab">Change Rates</a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("Eventfeed","Home")" role="tab" id="myTabDrop1-contents">Add Events</a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("DeleteEvent","Home")" role="tab" id="myTabDrop1-contents">Delete Events</a>
            </li>
            <li><a href='@Url.Action("Logout", "Home")' id="home-tab" role="tab">Logout</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="myTabContent" class="tab-content">

                <hr class="bs-docs-separator">
                <div class="bs-docs-example">
                    <form method="post" action=@Url.Action("UpdateNow","Home")>
                        <table class="table table-striped" align="center" style="width:50%">
                            <thead>
                                <tr>
                                    <th>Package Type</th>
                                    <th>Adult Rate</th>
                                    <th>Child Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Unlimited Package</td>
                                    <td><input type="number" id="p1_base_adult" name="p1_base_adult" min="500" value="1000" max="100000" required /></td>
                                    <td><input type="number" id="p1_base_child" name="p1_base_child" min="500" value="1000" max="100000" required /></td>
                                </tr>
                                <tr>
                                    <td>Limited Package</td>
                                    <td><input type="number" id="p2_base_adult" name="p2_base_adult" min="500" value="1000" max="100000" required /></td>
                                    <td><input type="number" id="p2_base_child" name="p2_base_child" min="500" value="1000" max="100000" required /></td>
                                </tr>
                                <tr>
                                    <td>Small Package</td>
                                    <td><input type="number" id="p3_base_adult" name="p3_base_adult" min="500" value="1000" max="100000" required /></td>
                                    <td><input type="number" id="p3_base_child" name="p3_base_child" min="500" value="1000" max="100000" required /></td>
                                </tr>
                                <tr colspan="3" align="center">
                                    <td><input type="submit" value="Update Now"></td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>