@{
    ViewBag.Title = "Events";
}

@Html.Partial("menu1")

@{
    var results = ViewBag.list;
    int cnt = ViewBag.total;
}

@for (var i = 0; i < cnt; i++)
{
    <p><b><font color="#ffcc99">@results[0][i]</font></b>: <font color="#green"> @results[1][i] </font></p>
    <span>@results[2][i]</span>
}

<div class="grid_3 grid_5 wow fadeInRight animated" data-wow-delay=".5s" align="center">
    <nav>
        <ul class="pagination pagination-lg">
            <li><a href="@Url.Action("F_Events", "Home")" aria-label="Previous"><span aria-hidden="true"><<</span></a></li>
            <li><a href="@Url.Action("P_Events", "Home")"><</a></li>
            <li><a href="@Url.Action("N_Events", "Home")">></a></li>
            <li><a href="@Url.Action("L_Events", "Home")" aria-label="Next"><span aria-hidden="true">>></span></a></li>
        </ul>
    </nav>
    <div class="clearfix"> </div>
</div>