@{
    ViewBag.Title = "EventFeed";
}

@Html.Partial("menu1")

<div class="grid_3 grid_5 wow fadeInLeft animated" data-wow-delay=".5s">
    <br /><br />
    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="@Url.Action("Dashboard","Home")" id="home-tab" role="tab">Booking Details</a>
            </li>
            <li role="presentation">
                <a href="@Url.Action("ChangeRate","Home")" role="tab" id="profile-tab">Change Rates</a>
            </li>
            <li role="presentation" class="active">
                <a href="@Url.Action("Eventfeed","Home")" role="tab" id="myTabDrop1-contents">Add Events</a>
            </li>
            <li><a href='@Url.Action("Logout", "Home")' id="home-tab" role="tab">Logout</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="sp-testimonials">
                <div class="sp">                    
                    <div class="col-md-6 pic wow fadeInRight animated animated" data-wow-delay=".5s">
                        <div class="styled-input wide wow animated animated" data-wow-delay=".5s">
                            <h3>Add Events</h3>
                            <span></span>
                        </div>
                        <form method="post" action=@Url.Action("submit_event_btn", "Home")>
                            <div class="styled-input wow slideInUp animated animated" data-wow-delay=".5s">
                                <input type="text" id="heading" name="heading" maxlength="50" required />
                                <label>Event Heading</label>
                                <span></span>
                            </div>
                            <div class="styled-input wow slideInUp animated animated" data-wow-delay=".5s">
                                <textarea rows="4" cols="30" id="description" name="description" maxlength="220" required> </textarea>
                                <label>Event Description</label>
                                <span></span>
                            </div>
                            <div class="send wow shake animated animated" data-wow-delay=".5s">
                                <input type="submit" value="Submit Event">
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>            
        </div>
    </div>
</div>