<script type="text/javascript">
$(document).ready(function(){
    $('[tooltip-glyph="glyph-tooltip-demo"]').tooltip({
        placement : 'top'
    });
});
</script>



<div class="container demo-2" id="home">
        
    <!--carbonads-container-->
    <div class="content">
        <div class="w3_agile_menu">
            <div class="agileits_w3layouts_nav">
                <div id="toggle_m_nav">
                    <div id="m_nav_menu" class="m_nav">
                        <div class="m_nav_ham w3_agileits_ham" id="m_ham_1"></div>
                        <div class="m_nav_ham" id="m_ham_2"></div>
                        <div class="m_nav_ham" id="m_ham_3"></div>
                    </div>                    
                </div>
                <div id="m_nav_container" class="m_nav wthree_bg">
                    <nav class="menu menu--sebastian">
                        <ul id="m_nav_list" class="m_nav menu__list">
                            <li class="m_nav_item" id="m_nav_item_1"> <a href="@Url.Action("Index","Home")" class="link link--kumya"><i class="fa fa-home" aria-hidden="true"></i><span data-letters="Home">Home</span></a></li>
                            <li class="m_nav_item" id="moble_nav_item_2"> <a href="@Url.Action("Events","Home")" class="link link--kumya scroll"><i class="fa fa-cog" aria-hidden="true"></i><span data-letters="Events">Events</span></a></li>
                            <li class="m_nav_item" id="moble_nav_item_5"> <a href="@Url.Action("Gallery","Home")" class="link link--kumya scroll"><i class="fa fa-picture-o" aria-hidden="true"></i><span data-letters="Gallery">Gallery</span></a></li>
                            <li class="m_nav_item" id="moble_nav_item_5"> <a href="@Url.Action("Feedback","Home")" class="link link--kumya scroll"><i class="fa fa-comment-o" aria-hidden="true"></i><span data-letters="Feedback">Feedback</span></a></li>
                            <li class="m_nav_item" id="moble_nav_item_6"> <a href="@Url.Action("Contact","Home")" class="link link--kumya scroll"><i class="fa fa-envelope-o" aria-hidden="true"></i><span data-letters="Contact Us">Contact Us</span></a></li>
                            <li class="m_nav_item" id="moble_nav_item_6"> <a href="#booking" class="link link--kumya scroll"><i class="fa fa-ticket" aria-hidden="true"></i><span data-letters="Package">Package</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div id="large-header" class="large-header">
            <!--Slider-->
            <div id="myCarousel" class="carousel1 slide" data-ride="carousel">
                <!-- Indicators -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="@Url.Content("~/images/banner.jpg")" style="width:100%; border-style: solid; border-width: 1px;" alt="First slide" />
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/images/banner1_1.jpg")" style="width:100%; border-style: solid; border-width: 1px;" data-src="" alt="Second slide" />
                    </div>
                    <div class="item">
                        <img src="@Url.Content("~/images/banner1_2.jpg")" style="width:100%; border-style: solid; border-width: 1px;" data-src="" alt="Third slide" />
                    </div>
                </div>
            </div>
            <!--closing slider-->

            <canvas id="demo-canvas"></canvas>
            <h1 class="main-title">
            <a class="link link--takiri" href="@Url.Action("Gallery","Home")" title="View the gallery">
                <i class="fa fa-image" style="font-size:48px;color:#F57C00"></i>
            </a>
                <br/>
            <a class="link link--takiri" href="@Url.Action("Events","Home")" title="Upcoming Events">
                    <i class="fa fa-calendar" style="font-size:48px;color:#04C8FC"></i>
            </a>
                    <br />
            <a class="link link--takiri" href="@Url.Action("Feedback","Home")" title="Please leave your comment/feedback">
                    <i class="fa fa-comment" style="font-size:48px;color:#CF228E"></i>
            </a>
                    <br />
            <a class="link link--takiri" href="#booking" title="Click Here to book your ticket">
                    <i class="fa fa-ticket" style="font-size:48px;color:#ff3333"></i>
            </a>
                    <br />
            <a class="link link--takiri" href="#contact" title="9096325735">
                    <i class="fa fa-phone" style="font-size:48px;color:#46C637"></i>
            </a></h1>
        </div>
    </div>
</div>

